# Real estate price predictor

In [3]:
import numpy as np
import pandas as pd
import pickle

In [21]:
housing=pd.read_csv("arunachal.csv")

In [22]:
housing.head()

   Area in sq ft  BHK  Bathroom  Balcony  Parking  Furnishing  Price in rupees
0            650    1         1        1        1           1          3900000
1           2538    3         4        3        1           0          9075000
2           1295    2         2        2        0           0          5690000
3           1825    4         3        3        1           1          8375000
4           1050    2         2        1        0           1          5640000

In [23]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area in sq ft    49 non-null     int64
 1   BHK              49 non-null     int64
 2   Bathroom         49 non-null     int64
 3   Balcony          49 non-null     int64
 4   Parking          49 non-null     int64
 5   Furnishing       49 non-null     int64
 6   Price in rupees  49 non-null     int64
dtypes: int64(7)
memory usage: 2.8 KB

In [24]:
housing.describe()

,Area in sq ft,BHK,Bathroom,Balcony,Parking,Furnishing,Price in rupees
count,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,4.900000e+01
mean,2024.000000,2.795918,2.367347,1.591837,0.755102,0.469388,7.345204e+06
std,1969.411746,1.384130,1.253227,1.018953,0.434483,0.504234,3.664634e+06
min,350.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.800000e+06
25%,771.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.940000e+06
50%,1375.000000,3.000000,2.000000,1.000000,1.000000,0.000000,6.550000e+06
75%,2100.000000,4.000000,3.000000,3.000000,1.000000,1.000000,9.075000e+06
max,7304.000000,6.000000,6.000000,3.000000,1.000000,1.000000,1.677500e+07

In [25]:
x = housing.iloc[:,:-1].values
y = housing.iloc[:,-1].values

## Train-Test Splitting

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(
x,y, test_size=0.2, random_state=1)

In [10]:
X_train

array([[1400,    3,    3,    2,    1,    0],
       [2775,    4,    2,    1,    0,    0],
       [1058,    2,    2,    1,    1,    1],
       [6015,    5,    2,    0,    1,    1],
       [ 560,    1,    2,    1,    1,    0],
       [1035,    2,    2,    2,    1,    1],
       [6435,    5,    3,    3,    1,    0],
       [ 700,    2,    2,    1,    1,    0],
       [ 815,    2,    1,    1,    0,    1],
       [3000,    5,    4,    3,    1,    0],
       [ 900,    2,    3,    1,    1,    0],
       [1151,    3,    2,    3,    1,    0],
       [ 350,    1,    1,    1,    0,    0],
       [1602,    3,    3,    3,    1,    0],
       [ 672,    1,    1,    1,    1,    0],
       [1050,    2,    2,    1,    0,    1],
       [ 600,    1,    1,    1,    1,    0],
       [ 850,    1,    1,    1,    1,    0],
       [ 435,    1,    1,    1,    1,    1],
       [1400,    4,    2,    1,    1,    0],
       [4004,    4,    2,    0,    1,    1],
       [ 380,    1,    1,    0,    0,    0],
       [1471,    3,    2,    2,    1,    0],
       [ 771,    1,    1,    2,    1,    1],
       [7304,    6,    6,    3,    1,    0],
       [1700,    3,    2,    1,    1,    0],
       [3225,    4,    5,    3,    1,    1],
       [1931,    3,    3,    3,    1,    0],
       [2538,    3,    4,    3,    1,    0],
       [ 754,    2,    2,    1,    0,    1],
       [ 650,    1,    1,    1,    1,    1],
       [1020,    2,    2,    1,    0,    1],
       [1700,    3,    3,    2,    1,    0],
       [2050,    4,    3,    3,    1,    1],
       [ 600,    1,    1,    1,    1,    0],
       [7015,    5,    6,    3,    1,    1],
       [2100,    4,    3,    3,    0,    0],
       [ 600,    1,    1,    0,    0,    0],
       [2160,    4,    4,    2,    1,    1]], dtype=int64)

In [11]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()
regression.fit(X_train, Y_train)   # Entered data for training of model

LinearRegression()

In [12]:
pred_y = regression.predict(X_test)
print(pred_y)

[ 6622977.92450613  5042902.79365945 14004840.33250346 15240721.214916
  5054450.33192933  8139401.84921812  4525693.05818603  6378422.63419298
  6300004.01486     6547445.7217952 ]

In [13]:
print(Y_test)

[ 6550000  5140000 14090000 14940000  5150000  7815000  4440000  5990000
  5900000  6115000]

In [16]:
pickle.dump(regression,open('Andhra.pkl','wb'))
model = pickle.load(open('Andhra.pkl','rb'))

In [17]:
print(regression.predict([[650,1,2,0,1,1]]))

[3475721.28427302]